{% extends "app_admin/master-page.html" %}

{%block header%}
    {% include 'includes/header.html' %}
{% endblock %}


{%block navbar%}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="background-color: #fff !important";>
  <div class="container">
    <a class="navbar-brand" href="{% url 'app_admin' %}"><span class="flaticon-pawprint-1 mr-2"></span>Pet Health Care System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{% url 'customer_list' %}" class="nav-link">Khách Hàng</a></li>
        <li class="nav-item"><a href="{% url 'pet_list' %}" class="nav-link">Thú cưng</a></li>
        <li class="nav-item"><a href="{% url 'medication_list' %}" class="nav-link">Thuốc điều trị</a></li>
        <li class="nav-item"><a href="{% url 'appointments_list' %}" class="nav-link">Lịch hẹn</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}


{%block contactformsection%}
<div class="card">
    <h2>DANH SÁCH ĐẶT LỊCH HẸN</h2>
    <!--Nút thêm lịch hẹn-->
    <div class="mt-4 text-left">
      <a id="appointments_list" href="{% url 'appointments_filter' %}" class="btn btn-secondary">Lọc lịch hẹn</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Ngày</th>
                <th>Khách hàng</th>
                <th>Thời gian</th>
                <th>Thú cưng</th>
                <th>Tình trạng</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0"> 
            {% for appointment in appointments %}
            <tr class="table-default">
                <td><i></i> <span>{{ forloop.counter }}</span></td>
                <td><i></i> <span>{{ appointment.date }}</span></td>
                <td><i class="badge bg-label-primary me-1"></i><span>{{ appointment.customer }}</span></td>
                <td><i class="list-unstyled m-0 avatar-group d-flex align-items-center"></i><span>{{ appointment.time }}</span></td>
                <td><i class="badge bg-label-primary me-1"></i><span>{{ appointment.pet }}</span></td>
                <td><i class="badge bg-label-primary me-1"></i><span>{{ appointment.status }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--Nút thêm lịch hẹn-->
<div class="mt-4 text-center">
  <a href="{% url 'appointments_create' %}" class="btn btn-primary">Thêm lịch hẹn mới</a>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}


{%block footer%}
    {% include 'includes/footer.html' %}
{% endblock %}