{% extends "app_admin/master-page.html" %}

{%block header%}
    {% include 'includes/header.html' %}
{% endblock %}

{%block navbar%}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_admin' %}"><span class="flaticon-pawprint-1 mr-2"></span>Pet sitting</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="{% url 'app_admin' %}" class="nav-link">Customer Form</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{%block contactformsection%}
{% load static %}
<div class="card-body">
    <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
      <img
        src="{% static 'app_admin/images/avata_cus_form.png' %}" alt="user-avatar"
        alt="user-avatar"
        class="d-block w-px-100 h-px-100 rounded"
        style="width: 100px; height: 100px"
        id="uploadedAvatar"/>
      <div class="button-wrapper">
        <label for="upload" class="btn btn-primary me-3 mb-4" tabindex="0">
          <span class="d-none d-sm-block">Cập nhật ảnh mới</span>
          <i class="bx bx-upload d-block d-sm-none"></i>
          <input
            type="file"
            id="upload"
            class="account-file-input"
            hidden
            accept="image/png, image/jpeg" />
        </label>
        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
          <i class="bx bx-reset d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Khôi phục lại</span>
        </button>

        <div>Được phép JPG, GIF hoặc PNG. Kích thước tối đa 800K</div>
      </div>
    </div>
</div>
<div class="card-body pt-4">
    <!-- Hiển thị thông báo -->
    {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% elif message.tags == "error" %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Form -->
    <form id="formAccountSettings" method="POST">
      <div class="row g-6">
        <div class="col-md-6">
            <label for="lastName" class="form-label">Họ</label>
            <input
                class="form-control"
                type="text"
                id="lastName"
                name="lastName"
                autofocus
                placeholder="Nhập họ" />
            <!--Error-->
            {% if form.lastName.errors %}
                <div class="text-danger">
                    {% for error in form.lastName.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <label for="firstName" class="form-label">Tên</label>
            <input 
            class="form-control" 
            type="text" 
            id="firstName"
            name="firstName"
            autofocus
            placeholder="Nhập tên" />
            <!--Error-->
            {% if form.firstName.errors %}
                <div class="text-danger">
                    {% for error in form.firstName.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input
            class="form-control"
            type="text"
            id="email"
            name="email"
            placeholder="abc123@gmail.com" />
            <!--Error-->
            {% if form.email.errors %}
                <div class="text-danger">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <label for="age" class="form-label">Tuổi</label>
            <input
                type="number"
                class="form-control"
                id="age"
                name="age"
                min="0"
                placeholder="Nhập tuổi" />
                <!--Error-->
                {% if form.age.errors %}
                    <div class="text-danger">
                        {% for error in form.age.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
        </div>        
        <div class="col-md-6">
            <label class="form-label" for="phoneNumber">Số điện thoại</label>
            <div class="input-group input-group-merge">
            <span class="input-group-text">VN (+84)</span>
            <input
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                class="form-control"
                placeholder="0123-456-789" />
                <!--Error-->
                {% if form.phoneNumber.errors %}
                    <div class="text-danger">
                        {% for error in form.phoneNumber.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
          </div>
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" />
            <!--Error-->
            {% if form.address.errors %}
                <div class="text-danger">
                    {% for error in form.address.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6" style="padding: 20px";>
            <label class="form-label" for="country">Country</label>
            <select id="country" class="select2 form-select">
            <option value="">Select</option>
            <option value="Australia">Australia</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Belarus">Belarus</option>
            <option value="Brazil">Brazil</option>
            <option value="Canada">Canada</option>
            <option value="China">China</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="Korea">Korea, Republic of</option>
            <option value="Mexico">Mexico</option>
            <option value="Philippines">Philippines</option>
            <option value="Russia">Russian Federation</option>
            <option value="South Africa">South Africa</option>
            <option value="Thailand">Thailand</option>
            <option value="Turkey">Turkey</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <option value="United States">VietNam</option>
          </select>
        </div>
        <div class="col-md-6" style="padding: 20px";>
            <label for="gender" class="form-label">Giới tính</label>
            <select id="gender" class="select2 form-select">
            <option value="">Chọn giới tính</option>
            <option value="en">Nam</option>
            <option value="fr">Nữ</option>
            <option value="fr">LGBT</option>
            <!--Error-->
            {% if form.gender.errors %}
                <div class="text-danger">
                    {% for error in form.gender.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
          </select>
        </div>
        <div class="mt-6">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            <button type="reset" class="btn btn-outline-secondary">Hủy</button>
        </form>
        </div>
    </form>
</div>

<div class="card">
    <h5 class="card-header">Xóa tài khoản</h5>
    <div class="card-body">
    <div class="mb-6 col-12 mb-0">
        <div class="alert alert-warning">
        <h5 class="alert-heading mb-1">Bạn có chắc chắn muốn xóa tài khoản của mình không?</h5>
        <p class="mb-0">Một khi bạn xóa tài khoản của mình, bạn sẽ không thể quay lại. Xin hãy chắc chắn.</p>
        </div>
    </div>
    <form id="formAccountDeactivation">
        <div class="form-check my-8 ms-2">
        <input
            class="form-check-input"
            type="checkbox"
            name="accountActivation"
            id="accountActivation" />
        <label class="form-check-label" for="accountActivation"
            >Tôi xác nhận việc hủy kích hoạt tài khoản của tôi</label
        >
        </div>
        <button type="submit" class="btn btn-danger deactivate-account" disabled>
        Hủy kích hoạt tài khoản
        </button>
    </form>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}

{%block footer%}
    {% include 'includes/footer.html' %}
{% endblock %}