{% extends "app_admin/master-page.html" %}

{%block header%}
    {% include 'includes/header.html' %}
{% endblock %}
<!--......................................................................................................-->
{%block navbar%}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="padding-right: 400px";>
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_admin' %}"><span class="flaticon-pawprint-1 mr-2"></span>Pet Health Care System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="{% url 'app_admin' %}" class="nav-link">Home</a></li>
        </ul>
      </div>
    </div>
</nav>
{% endblock %}
<!--......................................................................................................-->

{%block contactformsection%}
{% load static %}
<!-- Start Img-->
<div class="card-body">
    <a class="navbar-brand">THÊM THÔNG TIN KHÁCH HÀNG</a>
    <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
      <img
        src="{% static 'app_admin/images/avata_cus_form.png' %}" alt="user-avatar"
        alt="user-avatar"
        class="d-block w-px-100 h-px-100 rounded"
        style="width: 100px; height: 100px"
        id="uploadedAvatar"/>
      <div class="button-wrapper" style="padding: 15px";>
        <label for="upload" class="btn btn-primary me-3 mb-4" tabindex="0">
          <span class="d-none d-sm-block">Cập nhật ảnh mới</span>
          <i class="bx bx-upload d-block d-sm-none"></i>
          <input
            type="file"
            id="upload"
            class="account-file-input"
            hidden
            accept="image/png, image/jpeg" />
        </label>
        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
          <i class="bx bx-reset d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Khôi phục lại</span>
        </button>
        <div>Được phép JPG, GIF hoặc PNG. Kích thước tối đa 800K</div>
      </div>
    </div>
</div>
<!-- End Img -->

<!-- Strat Information-->
<div class="card-body pt-4">
    <!-- Hiển thị thông báo -->
    {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% elif message.tags == "error" %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Form -->
    <form method="post">
      {% csrf_token %}
      <div class="row g-6">

        <!--HỌ-->
        <div class="col-md-6">
            <label for="id_lastName" class="form-label">Họ</label>
            <input 
                type="text" 
                id="id_lastName" 
                name="{{ form.lastName.html_name }}" 
                value="{{ form.lastName.value }}" 
                class="form-control" 
                placeholder="Nhập họ">
            <!-- Hiển thị lỗi nếu có -->
            {% if form.lastName.errors %}
                <div class="text-danger">
                    {% for error in form.lastName.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!--TÊN-->               
        <div class="col-md-6">
            <label for="id_firstName" class="form-label">Tên</label>
            <input 
            type="text" 
            id="id_firstName"
            name="{{ form.firstName.html_name }}" 
            value="{{form.firstName.value}}"
            class="form-control" 
            placeholder="Nhập tên">
            <!--Error-->
            {% if form.firstName.errors %}
                <div class="text-danger">
                    {% for error in form.firstName.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!--EMAIL-->
        <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input
            type="text"
            id="id_email"
            name="{{ form.email.html_name }}"
            value="{{form.email.value}}"
            class="form-control"
            placeholder="abc123@gmail.com">
            <!--Error-->
            {% if form.email.errors %}
                <div class="text-danger">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <!--TUỔI-->
        <div class="col-md-6">
            <label for="age" class="form-label">Tuổi</label>
            <input
                type="number"
                class="form-control"
                id="age"
                name="age"
                min="0"
                placeholder="Nhập tuổi" />
                <!--Error-->
                {% if form.age.errors %}
                    <div class="text-danger">
                        {% for error in form.age.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
        </div>        
        <div class="col-md-6">
            <label class="form-label" for="phoneNumber">Số điện thoại</label>
            <div class="input-group input-group-merge">
            <span class="input-group-text">VN (+84)</span>
            <input
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                class="form-control"
                placeholder="0123-456-789" />
                <!--Error-->
                {% if form.phoneNumber.errors %}
                    <div class="text-danger">
                        {% for error in form.phoneNumber.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
          </div>
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" />
            <!--Error-->
            {% if form.address.errors %}
                <div class="text-danger">
                    {% for error in form.address.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6" style="padding: 20px";>
            <label for="gender" class="form-label">Giới tính</label>
            <select id="gender" class="select2 form-select">
            <option value="">Chọn giới tính</option>
            <option value="en">Nam</option>
            <option value="fr">Nữ</option>
            <option value="fr">LGBT</option>
            <!--Error-->
            {% if form.gender.errors %}
                <div class="text-danger">
                    {% for error in form.gender.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
          </select>
        </div>
        <div class="mt-6" style="padding: 0 15px 0 15px";>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" style="margin-top: 20px";>Tạo khách hàng</button>
            <button type="reset" class="btn btn-outline-secondary" style="margin-top: 20px";>Hủy</button>
        </form>
        </div>
    </form>
</div>
<!-- End Information-->
{% endblock %}
<!--......................................................................................................-->

{%block footer%}
    {% include 'includes/footer.html' %}
{% endblock %}