{% extends "master-page.html" %}

{%block header%}
    {% include '../includes/header.html' %}
{%endblock%}

{%block head-menu%}
    {% include '../includes/head-menu.html' %}
{% endblock %}

{% block content %}
<div class="card">
    <h5 class="card-header">Room List</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Room Type</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          
            {% for item in room %}
                <tr class="table-default">
                    <td><i class="fab fa-sketch fa-lg text-warning me-3"></i> <strong>{{item.room_type}}</strong></td>
                    <td>{{item.capacity}}</td>
            
                    <td><span class="badge bg-label-primary me-1">{{item.status}}</span></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="room-edit/{{ item.id }}"
                                    ><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                <a class="dropdown-item" href="room-delete/{{ item.id }}"
                                    ><i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{%block footer%}
    {% include '../includes/footer.html' %}
{% endblock %} 