{% extends "app_admin/master-page.html" %}

{%block header%}
    {% include 'includes/header.html' %}
{% endblock %}


{%block navbar%}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="background-color: #fff !important";>
  <div class="container">
    <a class="navbar-brand" href="{% url 'app_admin' %}"><span class="flaticon-pawprint-1 mr-2"></span>Pet Health Care System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{% url 'pet_list' %}" class="nav-link">THÚ CƯNG</a></li>
        <li class="nav-item"><a href="{% url 'medication_list' %}" class="nav-link">THUỐC ĐIỀU TRỊ</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{%block servicesection%}
{% load static %}
<!-- Boxicons CSS -->
<link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="card">
    <h5 class="card-header">DANH SÁCH THÚ CƯNG</h5>
    <div>
      <table id="pet_list" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên thú cưng</th>
            <th class="rounded-end-bottom">THÊM</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for item in pets %}
                <tr class="table-default">
                    <td><i></i> <span>{{item.id}}</span></td>
                    <td><i></i> <span>{{item.name}}</span></td>
                    <td class="rounded-end-bottom">
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ item.id }}/edit">Chỉnh sửa</a>
                            <a class="dropdown-item" href="{{ item.id }}/delete">Xóa</a>
                            <a class="dropdown-item" href="{{item.id}}">Xem chi tiết thú cưng</a>
                          </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<!--Nút thêm thú cưng-->
<div class="mt-4 text-center">
  <a href="{% url 'pet_create' %}" class="btn btn-primary">Thêm thú cưng mới</a>
</div>

<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{%block footer%}
    {% include 'includes/footer.html' %}
{% endblock %}